nav(class="navbar fixed-top navbar-dark bg-primary")
    a.navbar-brand(href="#")
        img(src="./favicon.png", class="d-inline-block align-top", width="30", height="30", alt="Logo Micro Chat", loading="lazy")
        |   Micro Chat